Repository SacredShifter/sacred-shift-connect, changes with the owners that CODEOWNERS names for each.
All owners: @sacred-shifter-admin, @database-admin, @backend-admin, @frontend-admin, @devops-admin, @security-admin, @reliability-admin, @ai-admin, @experience-admin, @graphics-admin

CODEOWNERS:

# Sacred Shifter Code Owners
# 
# This file defines who must review changes to specific parts of the codebase
# before they can be merged. This ensures code quality and security.

# Global fallback - all files require review
* @sacred-shifter-admin

# Database and Infrastructure (CRITICAL)
/supabase/** @sacred-shifter-admin @database-admin
supabase/migrations/** @sacred-shifter-admin @database-admin
supabase/functions/** @sacred-shifter-admin @backend-admin

# Source Code (CORE APPLICATION)
/src/** @sacred-shifter-admin @frontend-admin

# Security and Configuration (ULTRA CRITICAL)
/.github/** @sacred-shifter-admin
/package.json @sacred-shifter-admin
/package-lock.json @sacred-shifter-admin
/.gitignore @sacred-shifter-admin
/tsconfig.json @sacred-shifter-admin
/vite.config.ts @sacred-shifter-admin
/tailwind.config.ts @sacred-shifter-admin

# Documentation and Release Management
/CHANGELOG.md @sacred-shifter-admin
/README.md @sacred-shifter-admin
/PRODUCTION_READINESS_AUDIT.md @sacred-shifter-admin

# CI/CD and Security
/.github/workflows/** @sacred-shifter-admin @devops-admin
/lighthouse.config.js @sacred-shifter-admin
/.zap/** @sacred-shifter-admin

# Edge Functions (BACKEND SECURITY)
/supabase/functions/healthz/** @sacred-shifter-admin @backend-admin

# Authentication and User Management
/src/hooks/useAuth.tsx @sacred-shifter-admin @security-admin
/src/pages/Auth.tsx @sacred-shifter-admin @security-admin
/src/components/ProtectedRoute.tsx @sacred-shifter-admin @security-admin
/src/components/AdminRoute.tsx @sacred-shifter-admin @security-admin

# Production Components
/src/components/production/** @sacred-shifter-admin @reliability-admin
/src/components/ErrorBoundary.tsx @sacred-shifter-admin @reliability-admin

# Core AI and Consciousness Systems
/src/components/Aura* @sacred-shifter-admin @ai-admin
/src/modules/** @sacred-shifter-admin @experience-admin
/src/components/3D/** @sacred-shifter-admin @graphics-admin

# Note: Replace placeholder usernames with actual GitHub usernames
# Example: @sacred-shifter-admin -> @yourgithubusername

🌸 Sacred Resonance Discovery System - Complete Implementation
  SACRED_RESONANCE_README.md
  index.html
  package-lock.json
  package.json
  src/App.tsx
  src/actions/addChannel.ts
  src/components/AuraModuleConceptsViewer.tsx
  src/components/AuraModuleDiscussion.tsx
  src/components/ContentDiscovery/ResonanceSearch.tsx
  src/components/ContentGrid/SacredGeometryGrid.tsx
  src/components/ContentManager/AddSourceDialog.tsx
  src/components/ContentManager/ChannelDetails.tsx
  src/components/ContentTimeline/ResonanceTimeline.tsx
  src/components/MainLayout.tsx
  src/components/Navigation/GestureNavigation.tsx
  src/components/PetalLotus/PetalLotus.tsx
  src/components/YouTubeLibrary/YouTubeLibrary.tsx
  src/components/YouTubePlayer.tsx
  src/components/ui/ImageWithFallback.tsx
  src/config/navigation.ts
  src/hooks/useAuth.tsx
  src/hooks/useConsciousnessRecommendations.tsx
  src/hooks/useContentSources.ts
  src/index.css
  src/lib/content-sources.ts
  src/lib/events-polyfill.ts
  src/lib/logger.ts
  src/lib/polyfills.ts
  src/lib/youtube.ts
  src/main.tsx
  src/pages/SacredResonanceDiscovery.tsx
  src/utils/videoMapping.ts
  vite.config.ts
Owners: @sacred-shifter-admin, @frontend-admin, @ai-admin, @security-admin

🐛 Fix view mode toggle overlapping content cards
  src/components/PetalLotus/PetalLotus.tsx
Owners: @sacred-shifter-admin, @frontend-admin

added consciousness functions
  AURA_INTEGRATION_SUMMARY.md
  SACRED_CONSCIOUSNESS_IMPLEMENTATION_SUMMARY.md
  SACRED_SHIFTER_ENHANCEMENTS.md
  src/components/Biofeedback/HeartRateMonitor.tsx
  src/components/Collective/CollectiveConsciousness.tsx
  src/components/Collective/ConsciousnessMeshNetwork.tsx
  src/components/Collective/GroupMeditationSync.tsx
  src/components/Consciousness/SacredConsciousnessHub.tsx
  src/components/ContentGrid/MetatronCube.tsx
  src/components/ContentGrid/SacredGeometryGrid.tsx
  src/components/ContentGrid/SeedOfLife.tsx
  src/components/ContentGrid/TreeOfLife.tsx
  src/components/PetalLotus/PetalLotus.tsx
  src/components/Quantum/QuantumConsciousness.tsx
  src/components/Quantum/QuantumConsciousnessNetwork.tsx
  src/components/Quantum/QuantumResonanceEngine.tsx
  src/components/SacredAesthetics/ResonanceWaves.tsx
  src/hooks/useAuraChat.tsx
  src/hooks/useConsciousnessRecommendations.tsx
  src/index.css
  src/styles/sacred-colors.css
  src/types/collective.ts
  src/types/consciousness.ts
  src/types/quantum.ts
  supabase/functions/content-sync/index.ts
Owners: @sacred-shifter-admin, @frontend-admin, @backend-admin

added consciousness functions
  AURA_INTEGRATION_SUMMARY.md
  SACRED_CONSCIOUSNESS_IMPLEMENTATION_SUMMARY.md
  SACRED_SHIFTER_ENHANCEMENTS.md
  src/components/Biofeedback/HeartRateMonitor.tsx
  src/components/Collective/CollectiveConsciousness.tsx
  src/components/Collective/ConsciousnessMeshNetwork.tsx
  src/components/Collective/GroupMeditationSync.tsx
  src/components/Consciousness/SacredConsciousnessHub.tsx
  src/components/ContentGrid/MetatronCube.tsx
  src/components/ContentGrid/SacredGeometryGrid.tsx
  src/components/ContentGrid/SeedOfLife.tsx
  src/components/ContentGrid/TreeOfLife.tsx
  src/components/PetalLotus/PetalLotus.tsx
  src/components/Quantum/QuantumConsciousness.tsx
  src/components/Quantum/QuantumConsciousnessNetwork.tsx
  src/components/Quantum/QuantumResonanceEngine.tsx
  src/components/SacredAesthetics/ResonanceWaves.tsx
  src/hooks/useAuraChat.tsx
  src/hooks/useConsciousnessRecommendations.tsx
  src/index.css
  src/styles/sacred-colors.css
  src/types/collective.ts
  src/types/consciousness.ts
  src/types/quantum.ts
  supabase/functions/content-sync/index.ts
Owners: @sacred-shifter-admin, @frontend-admin, @backend-admin

🐛 Fix view mode toggle overlapping content cards
  src/components/PetalLotus/PetalLotus.tsx
Owners: @sacred-shifter-admin, @frontend-admin

🌸 Sacred Resonance Discovery System - Complete Implementation
  SACRED_RESONANCE_README.md
  index.html
  package-lock.json
  package.json
  src/App.tsx
  src/actions/addChannel.ts
  src/components/AuraModuleConceptsViewer.tsx
  src/components/AuraModuleDiscussion.tsx
  src/components/ContentDiscovery/ResonanceSearch.tsx
  src/components/ContentGrid/SacredGeometryGrid.tsx
  src/components/ContentManager/AddSourceDialog.tsx
  src/components/ContentManager/ChannelDetails.tsx
  src/components/ContentTimeline/ResonanceTimeline.tsx
  src/components/MainLayout.tsx
  src/components/Navigation/GestureNavigation.tsx
  src/components/PetalLotus/PetalLotus.tsx
  src/components/YouTubeLibrary/YouTubeLibrary.tsx
  src/components/YouTubePlayer.tsx
  src/components/ui/ImageWithFallback.tsx
  src/config/navigation.ts
  src/hooks/useAuth.tsx
  src/hooks/useConsciousnessRecommendations.tsx
  src/hooks/useContentSources.ts
  src/index.css
  src/lib/content-sources.ts
  src/lib/events-polyfill.ts
  src/lib/logger.ts
  src/lib/polyfills.ts
  src/lib/youtube.ts
  src/main.tsx
  src/pages/SacredResonanceDiscovery.tsx
  src/utils/videoMapping.ts
  vite.config.ts
Owners: @sacred-shifter-admin, @frontend-admin, @ai-admin, @security-admin

feat: Add Living Advertisement module and production readiness improvements
  DEPLOYMENT_GUIDE.md
  PRODUCTION_READINESS_CHECKLIST.md
  PRODUCTION_READINESS_FINAL_REPORT.md
  PRODUCTION_READINESS_REPORT.md
  env.example
  package.json
  src/App.tsx
  src/components/Consciousness/ConsciousnessAssessmentDashboard.tsx
  src/components/ContentDiscovery/ResonanceSearch.tsx
  src/components/DailyRoutine/SacredTimingDashboard.tsx
  src/components/LivingAdvertisement/AdNavigation.tsx
  src/components/LivingAdvertisement/LivingAdLanding.tsx
  src/components/LivingAdvertisement/README.md
  src/components/LivingAdvertisement/SacredTechShowcase.tsx
  src/components/Onboarding/OnboardingFlow.tsx
  src/components/OnboardingChecker.tsx
  src/components/SacredInitiation/SacredInitiationCeremony.tsx
  src/components/SacredInitiation/SacredInitiationDashboard.tsx
  src/components/SacredInitiation/SacredSealVisualization.tsx
  src/components/StartDirectMessageModal.tsx
  src/components/gaa/CollectiveOrchestration.tsx
  src/components/gaa/GAADashboard.tsx
  src/components/production/PerformanceMonitor.tsx
  src/components/ui/LoadingState.tsx
  src/hooks/useAuth.tsx
  src/hooks/useConsciousnessAssessment.tsx
  src/integrations/supabase/client.ts
  src/lib/env.ts
  src/lib/errorHandling.ts
  src/lib/monitoring.ts
  src/main.tsx
  src/providers/AppProviders.tsx
  src/providers/DailyRoutineProvider.tsx
  supabase/config.toml
  supabase/functions/ai-assistant/index.ts
  supabase/migrations/20250103000000_comprehensive_rls_policies.sql
  supabase/migrations/20250103000001_performance_indexes.sql
  vite.config.optimized.ts
  vite.config.ts
Owners: @sacred-shifter-admin, @frontend-admin, @reliability-admin, @security-admin, @database-admin, @backend-admin

Finalize merge/rebase with latest changes
  src/hooks/useAuth.tsx
Owners: @sacred-shifter-admin, @security-admin

fix: Remove WebSocket blockade that was blocking Vite dev server
  src/main.tsx
Owners: @sacred-shifter-admin, @frontend-admin

Implement Sacred Calling feature with consciousness-aware voice communication
  SACRED_CONNECTIVITY_AUDIT_REPORT.md
  index.html
  package-lock.json
  package.json
  src/components/SacredBottomToolbar.tsx
  src/components/SacredCalling/CallPreview.tsx
  src/components/SacredCalling/RecipientPicker.tsx
  src/components/practices/MicroReset.tsx
  src/components/ui/sonner.tsx
  src/config/flags.ts
  src/config/navigation.ts
  src/contexts/ThemeContext.tsx
  src/index.css
  src/lib/connectivity/ConnectivityAbstractionLayer.ts
  src/lib/connectivity/EnhancedStressTest.ts
  src/lib/connectivity/HardwareAdapter.ts
  src/lib/connectivity/LANDiscovery.ts
  src/lib/connectivity/MetricsModule.ts
  src/lib/connectivity/SacredConnectivityOrchestrator.ts
  src/lib/connectivity/SacredWebRTCMesh.ts
  src/lib/connectivity/SecurityModule.ts
  src/lib/practice/PracticeTracker.ts
  src/main.tsx
  src/pages/MicroResetPage.tsx
  src/providers/AppProviders.tsx
  src/routes/AppRoutes.tsx
  src/sacred-shifter-channel.ts
  src/utils/connectivityManager.ts
  src/utils/connectivityTest.ts
  vite.config.ts
Owners: @sacred-shifter-admin, @frontend-admin

feat: Implement Felony Principle of Word and Breath + Sacred ICE Calling System
  SACRED_ICE_IMPLEMENTATION_SUMMARY.md
  src/components/ICE/ICEContactManager.tsx
  src/components/Onboarding/FelonyPrincipleIntroduction.tsx
  src/components/Onboarding/OnboardingFlow.tsx
  src/components/Sacred/FelonyPrincipleDisplay.tsx
  src/components/SacredBottomToolbar.tsx
  src/components/SacredCalling/CallStatusDialog.tsx
  src/components/SacredVoiceCalling/SacredVoiceCallingInterface.tsx
  src/data/felonyPrincipleCodex.ts
  src/data/sacredMessages.ts
  src/lib/connectivity/AuraConnectivityIntegration.ts
  src/lib/connectivity/SacredICECalling.ts
  src/lib/connectivity/SacredShifterUniversalConnectivity.ts
  src/lib/connectivity/SacredVoiceCalling.ts
  src/lib/connectivity/SacredWebRTCMesh.ts
  src/lib/connectivity/WebRTCSignaling.ts
  src/pages/Index.tsx
  supabase/functions/call-ice-contact/index.ts
  supabase/migrations/20241221000000_add_ice_emergency_contacts.sql
Owners: @sacred-shifter-admin, @frontend-admin, @backend-admin, @database-admin
